<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
      <a href="/subscriptions" class="btn btn-primary me-md-2" type="button">プラン</a>
      <%# <a class="nav-link active" href="/subscriptions">プラン</a> %>
        <%# <a class="nav-link active" href="#">プラン</a> %>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/orders">注文内容</a>
        <%# <a class="nav-link" href="#">注文内容</a> %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">daily</h5>
    <p class="card-text">サブスクリプションであなたの生活をより豊かに</p>
    <a href="https://www.ubereats.com/" target="_blank" class="btn btn-primary">お店を探す</a>
  </div>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href="/datas" class="btn btn-primary me-md-2" type="button">オーナー様</a>
  <a href="/add_stores" class="btn btn-primary" type="button">サイト管理者</a>
</div>
