<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      margin: 0 auto;
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    th, td {
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    h2 {
      text-align: center;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <h2>データ分析</h2>
  <table>
    <tr>
      <th>項目</th>
      <th>データ</th>
    </tr>
    <tr>
      <td>年齢</td>
      <td>20</td>
    </tr>
    <tr>
      <td>性別</td>
      <td>男性</td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>12345</td>
    </tr>
    <tr>
      <td>都道府県</td>
      <td>東京</td>
    </tr>
    <tr>
      <td>市区町村</td>
      <td>港区</td>
    </tr>
    <tr>
      <td>番地</td>
      <td>1-2-3</td>
    </tr>
    <tr>
      <td>注文内容</td>
      <td>商品A</td>
    </tr>
  </table>
</body>
</html>